<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Verification Status</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			background-color: #f0f4f8;
			color: #333;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}
		.container {
			background-color: #ffffff;
			border-radius: 8px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			max-width: 448px;
			text-align: center;
		}
		.header {
			background-color: #bbcae4;
			text-align: center;
			border-radius: 10px 10px 0 0;
		}

		h2{
			color: #2b4f81;
			margin-bottom: 5px;
		}

		.logo {
			max-height: 110px;
		}

		
		a.login-btn {
			background-color: #2b4f81;
			color: #fff;
			text-decoration: none;
			padding: 12px 24px;
			font-size: 16px;
			border-radius: 5px;
			display: inline-block;
			transition: background-color 0.3s ease;
			margin-bottom: 15px;
			margin-top: 10px;
		}
		a.login-btn:hover {
			background-color: #1f3b61;
		}

		p{
			margin: 0;
			padding: 0px 15px;
		}
		
		.footer {
			background: #bbcae4;
			text-align: center;
			color: #666;
			border-radius: 0 0 10px 10px;
			height: 110px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.footer p {
			margin: 0;
		}
		
	</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<img src="/images/logo.png" alt="SmartBook Logo" class="logo" />
		</div>
	<% if (success === true) { %>
		<h2>Account Verified Successfully!</h2>
		<p>Hi <strong><%= name %></strong>,</p>
		<p>
			Your email has been successfully verified. You're now ready to start using <strong>SmartBook</strong> to discover, read, and manage your favorite books.
		</p>
		<p>Explore your dashboard and start building your personal library today!</p>
	<% } else { %>
		<h2>Verification Not Required</h2>
		<p ><%= message %></p>
		<p>You can safely ignore this message or proceed to login.</p>
	<% } %>
		<div class="button">
			<a href="<%= loginUrl %>" class="login-btn" target="_blank">Back to Login</a>
		</div>
		<div class="footer">
			<p>Copyright © 2025 SmartBook, All rights reserved.</p>
		</div>
	</div>
</body>
</html>
